docker-compose.yml

# Docs
README.md
setup.md
LICENSE

# GitHub workflow files are not needed in the runtime image.
.github
.gitignore

# .gitignore
*.pyc
.venv
db.sqlite3
exe
png
temp_zips
__pycache__
